
<div class="card filters">
    <div class="card-header">
        <strong>Filter</strong>
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">From
            <input type="number" id="from" class="form-control">
        </div>
        <div class="form-group">To
            <input type="number" id="to" class="form-control">
        </div>
        <br/>
        <button type="button" class="btn btn-primary btn-sm">Filter by price</button>

        </form>   
    </div>
</div>
